
@{
    ViewData["Title"] = "HW2";
}

<h1>HW2</h1>
<form method="post" enctype="application/x-www-form-urlencoded" action="~/api/index" name="form1">
    <div class="mb-3">
        <label class="form-label">姓名</label>
        <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts{ 
<script>

</script>
}
