
@{
    ViewData["Title"] = "HW2";
}

<h1>HW2</h1>
<form method="post" enctype="application/x-www-form-urlencoded" action="~/HW/Check" name="form1">
    <div class="mb-3">
        <label class="form-label">姓名</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div id="nameResult" style="font-size:200%;color:red"></div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts{ 
<script>
    $("#name").on("blur", () =>
    {
        var xhr = new XMLHttpRequest()
        xhr.addEventListener("load", () =>
        {
            var data = xhr.responseText;
            $("#nameResult").text(data);
        })

        var formData = new FormData(document.form1);
        xhr.open("Post", document.form1.action)
        xhr.send(formData);
    })
</script>
}
